:root {
  --theme-color-primary: #851164;
  --text-color-primary: rgb(8, 8, 8);
  --text-color-medium: rgb(131, 130, 129);
  --text-color-light: rgb(250, 248, 248);
  --bg-color-light: rgb(252, 245, 245);
  --bg-color-secondary: rgb(242, 245, 246);
  --bg-color-dark: rgb(58, 56, 56);
}
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  object-fit: cover;
}

button {
  border: none;
  background: none;
}
.section-inner-container {
  margin: 0 auto;
  padding: 8rem 3rem;
}
.section-inner-container-wide {
  max-width: 66rem;
}
.section-inner-container-narrow {
  max-width: 46rem;
}

.footer-inner-container {
  max-width: 66rem;
  margin: 0 auto;
  padding: 2rem 3rem;
}

body {
  color: var(--text-color-medium);
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color-primary);
  font-weight: bold;
  margin-bottom: 1rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  color: var(--theme-color-primary);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 1.4rem;
}

p {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--theme-color-primary);
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: var(--bg-color-dark);
  color: var(--text-color-medium);
  font-size: 1rem;
}

footer a {
  color: var(--text-color-medium);
}

footer a:hover {
  color: var(--text-color-light);
}

.btn {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5em 2em;
  border-radius: 4px;
  border: 2px solid var(--theme-color-primary);
  color: var(--theme-color-primary);
  text-decoration: none;
}

.btn:hover {
  color: var(--text-color-light);
  background-color: var(--theme-color-primary);
}

.banner {
  text-align: center;
}

.section-header {
  text-align: center;
  max-width: 46rem;
  margin: 0 auto;
}

.card {
  text-align: center;
  max-width: 24ch;
  margin: 1.2em 0.5em;
  padding: 2.5em 0.8em 1.4em 0.8em;
  background-color: var(--bg-color-secondary);
}

.card p {
  font-size: 1rem;
}

.card-icon {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: var(--theme-color-primary);
}

.card-grid {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.split {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.split-media {
  width: 40%;
}

.split-text {
  width: 50%;
}
.contact {
  text-align: center;
}

.footer-logo {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.footer-links {
  font-size: 1.3rem;
}

.footer-links li {
  display: inline;
}

.footer-links li:not(:first-child) {
  margin-left: 1em;
}
.footer-inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-logo {
  font-size: 3rem;
  color: var(--theme-color-primary);
}

nav {
  max-width: 70rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.navigation-menu-desktop li {
  display: inline;
}

.navigation-menu-desktop li:not(:first-child) {
  margin-left: 2rem;
}

nav a {
  color: var(--text-color-primary);
}

nav a:hover {
  color: var(--theme-color-primary);
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.2rem;
  }
}
@media (max-width: 600px) {
  .navigation-menu-desktop {
    display: none;
  }
}
@media (max-width: 860px) {
  .split {
    flex-wrap: wrap;
  }
  .split-media,
  .split-text {
    width: 100%;
  }
  .split-media {
    margin-bottom: 2rem;
  }
}
.footer-inner-container {
  flex-wrap: wrap;
}
.navigation-menu-mobile-collapsed {
  display: none;
}
@media (max-width: 600px) {
  .navigation-menu-mobile-collapsed {
    display: initial;
    position: fixed;
    top: 1rem;
    right: 1rem;
  }
}
.navigation-button {
  color: var(--theme-color-primary);
  margin: 1rem 0;
  font-size: 2rem;
  cursor: pointer;
}

.navigation-menu-mobile {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  padding: 1rem 2rem;
  background-color: var(--bg-color-secondary);
  text-align: right;
  transform: translateX(100%);
  transition: all 0.5s;
  visibility: hidden;
}

.mobile-navigation-expanded .navigation-menu-mobile {
  visibility: visible;
  transform: translateX(0);
}
